<h1>Dashboard</h1>

<p>Tickets by Priority</p>
<table>
  <thead>
    <tr>
      <th>None</th>
      <th>Low</th>
      <th>Medium</th>
      <th>High</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @tickets_by_priority[:none] %></td>
      <td><%= @tickets_by_priority[:low] %></td>
      <td><%= @tickets_by_priority[:medium] %></td>
      <td><%= @tickets_by_priority[:high] %></td>
    </tr>
  </tbody>
</table>

<p>Tickets by Status</p>
<table>
  <thead>
    <tr>
      <th>New</th>
      <th>Open</th>
      <th>In Progress</th>
      <th>Resolved</th>
      <th>More Info Needed</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @tickets_by_status[:new] %></td>
      <td><%= @tickets_by_status[:open] %></td>
      <td><%= @tickets_by_status[:in_progress] %></td>
      <td><%= @tickets_by_status[:resolved] %></td>
      <td><%= @tickets_by_status[:more_info_needed] %></td>
    </tr>
  </tbody>
</table>
