<div class="container bg-light">
  <div class="row pt-4">
    <div class="col text-center justify-content-between">
      <h1 class="display-4 d-inline">Editing
        <%= link_to project_path(@project), style: "text-decoration: none;" do %>
          <%= @project.name %>
        <% end %>
      </h1>
      <br><br>
      <p><%= @project.description %></p>
    </div>
  </div>

  <hr>

</div>

<%= render 'form', project: @project %>

<div class="container">
  <div class="form-group my-2">
    <div class="col-sm-offset-2 col-sm-10 mt-3">
      <div class="actions">
        <%= button_to 'Delete', project_path(@project), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this project? This action cannot be undone." } %>
      </div>
    </div>
  </div>
</div>
