<div class="container-fluid bg-light">
  <div class="row pt-4 pb-4">
    <div class="col text-center justify-content-between">
      <h1 class="display-4 d-inline">Your Projects</h1>
      <% if @projects.present? %>
        <span class="badge badge-secondary"><%= @projects.size %></span>
      <% end %>
      <%= link_to 'New Project', new_project_path, class: "btn btn-primary text-white float-right mt-3" %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <% @paginated_projects.each do |project| %>
    <div class="card mt-3">
      <div class="card-header">
        <%= link_to project, style: "text-decoration: none;" do %>
          <h5 class="d-inline"><%= project.name %></h5>
        <% end %>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p><%= project.description %></p>
          <footer class="text-muted d-inline">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
              <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
            <p class="d-inline">Updated <%= time_ago_in_words(project.updated_at) %> ago</p>
          </footer>
        </blockquote>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @paginated_projects %>
