<div class="container-fluid bg-light">
  <div class="row pt-4 pb-4">
    <div class="col text-center">
      <h1 class="display-4 d-inline">Users</h1>
      <% if @users.present? %>
        <span class="badge badge-secondary"><%= @users.size %></span>
      <% end %>
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <% @paginated_users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td>
          <%= form_for(user, url: "/admin/users/#{user.id}/toggle_role", method: :post) do |form| %>
            <% if user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

                <ul>
                  <% user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <p> <%= radio_button_tag :role, "admin", user.admin? %> Admin </p>
            <p> <%= radio_button_tag  :role, "employee", user.employee? %> Employee </p>

            <div class="actions">
              <%= form.submit %>
            </div>
          <% end %>
        </td>
        <td><%#= link_to 'Show', user %></td>
        <td><%#= link_to 'Edit', edit_user_path(user) %></td>
        <td><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @paginated_users %>

<%# <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav> %>
